#one{
    font-family:"Open Sans";
    color: #a7aeba;
    margin-right: 100px; 
}

#two{
    background-color:#D4DADF;
    border:black;
    width:500px;
    padding-left:64px;
    padding-top:32px; 
    padding-right: 50px;
}

#two #la{
    padding-right: 113px;
}

#two p {
    padding-top:12px;
    padding-bottom:12px;
    padding-left:48px;

}

#reqd {
    display: flex;
    flex-wrap: wrap;
}

#reqd div .background-image{
    height: 360px;
    width: 330px;
    padding-right:28px;
    padding-bottom:28px;
}

#reqd div article {
    white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
    position: relative;
    font-weight: 500;
    font-size: 24px;
    bottom: 200px;
    color: red;
    background-image: -moz-linear-gradient();
}
